:root {
    --rosa-fuerte: oklch(0.586 0.253 17.585);
    --rosa-pastel: oklch(0.892 0.058 10.001);
    --rosa-claro: oklch(0.969 0.015 12.422);
    --rosa-oscuro: oklch(0.271 0.105 12.084);
    --gris: oklch(0.551 0.027 264.364);
    --sombra: 0 0 10px rgba(0, 0, 0, 0.7);
    --fuente: sans-serif;
    --espaciado: calc(100% * 1/12)
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--rosa-claro);
}

.navigator {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigator-logo{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: start;
    padding: 4px;
    padding-left:var(--espaciado);/** La medida REM se usa mas comunmente para fuentes y para los espacios se trabaja con calculos o porcentajes. **/
    box-shadow: var(--sombra);
}

.navigator-logo h1 {
    color: var(--rosa-oscuro);
    font-size: 2rem;
    margin: 4px; /** Los espacios son multiplos de 4 para la rendericación de las pantallas. **/

}

.navigator-menu {
    margin-top: 8px;
    display: flex;
    min-width: 60%;
    background-color: white;
    box-shadow: var(--sombra);
    border: 1.5px solid var(--rosa-pastel);
    border-radius: 8px;

}

.navigator-menu-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 12px 4px;
    list-style: none;
}

.navigator-menu-item {
    background-color: var(--rosa-fuerte);
    color: white;
    padding: 12px 8px;
    border-radius: 12px;
    margin-right: 4px;
}
.navigator-menu-item a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.navigator-menu-item_activate {
    border: 1.5px solid var(--rosa-fuerte);
    background-color: white;
}

.navigator-menu-item_activate a{
    color: var(--rosa-fuerte);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 16px;
}

.search-form div i{
    border-bottom: 1px solid var(--gris);
    margin: 0;
    padding: 0;
}
.search-form div input{
    background-color: transparent;
    color: var(--gris);
    border: none;
    text-align: center;
}

.search-form div input:focus {
    outline: none;
    border-bottom-width: 2px;
}

.container-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    border:1px solid red;
    margin-bottom: 200px;
}

.card {
    width: 150px;
    height: 150%;
    margin: 12px;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid var(--gris);
    box-shadow: var(--gris);
    transition: all 0.2s ease-in-out;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: var(--rosa-oscuro);
    font-size: 1.2rem;
    margin-bottom: 4px;
}


.card-stock, .card-precio {
    font-size: 0.9rem;
    color: var(--gris);   
}

.card div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: start;
}

.card-buttom {
    background-color:transparent;
    border: none;
}

.card-buttom:focus {
    outline: none;
}

.card-buttom_delete {
    border: 1px, solid var(--rosa-fuerte);
    padding: 4px 15px;
    border-radius: 4px;
    color: var(--espaciado);
    font-size: 0.9rem;
    transition: all 0.05s ease-in-out;
    /*!--font-variant-east-asian:*/
    
}


.card-buttom:hover {
    box-shadow: 0px 0px 8px rba(255, 15, 150, 0.5);
    color: white;
}

.navigator-menu{
    /*position: ;*/
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid red;
    text-align: center;
    padding: 12px 0px;
    background-color: var(--rosa-pastel);
    box-shadow: 0px -5px 12px rgba(255, 15, 150, 0.5);

}

@media (media-width: 639px){
    .card {
        transition: none;
    }

    .card-hover {
        transform: none;
    }
}

@media (min-width: 640px){

    .card{
        width: 200%;
    }

    .card div {
        flex-direction: row-reverse;
        align-items: center;
    }
}